<div class="login__container">
  <div class="login__wrap">
    <div class="login__head">
      <a class="login__logo" href="#"
        ><img class="login__pic" src="img/logo-white.svg" alt=""
      /></a>
    </div>
    <form class="login__form">
      <div class="login__body">
        <div class="login__title login__title_sm">Signin to your acount</div>
        <div class="p-field flex flex-col">
          <label>Username</label>
          <input
            class="
              my-1
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none focus:shadow-outline
            "
            pInputText
          />
          <small class="font-normal"
            >Enter your username to reset your password.</small
          >
        </div>
        <button
          class="login__btn btn btn btn_blue hover:shadow-lg"
          type="submit"
        >
          Continue
        </button>
        <ul class="login__links">
          <li><a class="login__link" href="#">Can’t login?</a></li>
          <li><a class="login__link" href="#">Sign up for new user?</a></li>
        </ul>
      </div>
    </form>
  </div>
</div>
