<div class="out">
  <div class="login">
    <router-outlet></router-outlet>
    <label class="switch switch_theme"
      ><input class="switch__input js-switch-theme" type="checkbox" /><span
        class="switch__in"
        ><span class="switch__box"></span
        ><span class="switch__icon"
          ><svg class="icon icon-moon">
            <use xlink:href="/assets/square_template/img/sprite.svg#icon-moon"></use></svg><svg class="icon icon-sun">
            <use xlink:href="/assets/square_template/img/sprite.svg#icon-sun"></use></svg></span></span
    ></label>
  </div>
</div>
